@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #e63946;
};

body{
  width: 100vw;
  height: 100vh;  
  background-color: #f1faee;
}

form{
  width: 100vw;
  height: 100vh;
  background-color: #f1faee;
}

.container{
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.input{
  width: 35vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e63946;
}

input{
  width: 15vw;
  height: 6vh;
  outline: none;
  border: none;
  border-radius: 01.5vh;
  background-color: #a8dadc;
}

.list{
  width: 35vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #a8dadc;
}

li{
  list-style: none;
}


button{
  font-weight: 500;
  width: 15vw;
  height: 6vh;
  outline: none;
  border: none;
  border-radius: 01.5vh;
  background-color: #a8dadc;
}